<h2>All pets</h2>
Click here to search all dogs:
<input type="checkbox" ng-model="mySel">

<input type="text" data-ng-model="vm.byPetType">
<input type="text" data-ng-model="vm.byZipcode">

<!-- <select data-ng-model="vm.byPetType">
  <option value="">Dog</option>
  <option value="">Cat</option>
  <option value="">Reptile</option>
  <option value="">Bird</option>
</select> -->

<select ng-model="vm.byPetType">
         <option ng-selected="vm.byPetType" ng-repeat="pet in vm.pets | unique: 'pet_type'" ng-value="vm.pet_type">{{pet.pet_type}}</option>
</select>
<select ng-model="vm.byZipcode">
         <option ng-selected="vm.byZipcode" ng-repeat="pet in vm.pets | unique: 'zipcode'" ng-value="vm.zipcode">{{pet.zipcode}}</option>
</select>

<!-- <select data-ng-model="vm.thepets" ng-options="x.pet_type for x in vm.pets | filter: {name: vm.thepets}">
</select>

<h1>You selected: {{vm.thepets.pet_type}}</h1>
<p>Its name is: {{vm.thepets.name}}</p> -->


<div data-ng-repeat="pet in vm.pets | filter: {pet_type: vm.byPetType} | filter: {zipcode: vm.byZipcode} | filter: {x: vm.petType}">
  <ul>
    <li><a data-ui-sref="PetSitterOwnerShow({id: pet.owner_id})">{{pet.name}}</a></li>
    <li>{{pet.pet_type}}</li>
    <li>{{pet.zipcode}}</li>
    <li>{{pet.medical_needs}}</li>
    <li>{{pet.start_date}}</li>
    <li>{{pet.end_date}}</li>
  </ul>
  <img src="{{pet.photo_url}}"/>
</div>
