<h2>All pets</h2>

<input type="text" data-ng-model="vm.byPetType">
<input type="text" data-ng-model="vm.byZipcode">
<select data-ng-model="vm.byPetType">
  <option value="">Dog</option>
  <option value="">Cat</option>
  <option value="">Reptile</option>
  <option value="">Bird</option>
</select>

<div data-ng-repeat="pet in vm.pets | filter: {pet_type: vm.byPetType} | filter: {zipcode: vm.byZipcode}">
  <ul>
    <li><a data-ui-sref="PetSitterOwnerShow({id: pet.owner_id})">{{pet.name}}</a></li>
    <li>{{pet.pet_type}}</li>
    <li>{{pet.zipcode}}</li>
    <li>{{pet.medical_needs}}</li>
    <li>{{pet.start_date}}</li>
    <li>{{pet.end_date}}</li>
  </ul>
  <img src="{{pet.photo_url}}"/>
</div>
