<div class="owners_header" style="margin-bottom: 50px;">
  <div class="overlay">
    <h2 style="margin: 0; padding-top: 100px; padding-bottom: 100px; color: white; text-align: center;">Find Pet Sitting Opportunities</h2>
  </div>
</div>

<div class="site_wrapper">
  <div class="filter_box">
    <select ng-model="vm.byPetType">
      <option value="">Select Pet Type...</option>
      <option ng-repeat="pet in vm.pets | unique: 'pet_type'" ng-value="vm.pet_type">{{pet.pet_type.toUpperCase()}}</option>
    </select>
      <button id="clear-filter" ng-click="vm.byPetType = undefined", "vm.byZipcode = undefined" type="button">Clear Pets</button>

    <select ng-model="vm.byZipcode">
      <option value="">Search by zipcode...</option>
      <option ng-repeat="pet in vm.pets | unique: 'zipcode'" ng-value="vm.zipcode">{{pet.zipcode}}</option>
    </select>
      <button id="clear-filter" ng-click="vm.byZipcode = undefined" type="button">Clear Zipcode</button>

    <p>If you are not okay delivering pet medications, select box.</p>
    <input type="checkbox" data-ng-model="vm.byMedication">

    <button id="clear-filter" ng-click="vm.byMedication = undefined" type="button">Clear Medication Needs</button>

  </div>



<!-- <select data-ng-model="vm.thepets" ng-options="x.pet_type for x in vm.pets | filter: {name: vm.thepets}">
</select>

<h1>You selected: {{vm.thepets.pet_type}}</h1>
<p>Its name is: {{vm.thepets.name}}</p> -->

<div class="profile_wrapper">
  <div class="sitters_wrapper" data-ng-repeat="pet in vm.pets | filter: {pet_type: vm.byPetType} | filter: {zipcode: vm.byZipcode} | filter: {x: vm.petType} | filter: {medical_needs: vm.byMedication}">
    <div class="img-thumbnail hover description">
      <a data-ui-sref="PetSitterOwnerShow({id: pet.owner_id})"><img class="resize" src="{{pet.photo_url}}"/></a>
      <ul>
        <li><a data-ui-sref="PetSitterOwnerShow({id: pet.owner_id})">{{pet.name}}</a></li>
        <li>{{pet.pet_type}}</li>
        <li>{{pet.zipcode}}</li>
        <li>{{pet.start_date}}</li>
        <li>{{pet.end_date}}</li>
      </ul>

    </div>
  </div>
</div>

</div>
