
<div class="sitters_header" style="margin-bottom: 50px;">
  <div class="overlay">
    <h2 style="margin: 0; padding-top: 100px; padding-bottom: 100px; color: white; text-align: center;">Find Pet Sitters</h2>
  </div>
</div>

<div class="site_wrapper">
  <div class="filter_box">
    <input type="text" placeholder="Name" data-ng-model="vm.byName">
    <button id="clear-filter" ng-click="vm.byName = undefined" type="button">Clear Name</button>

    <select ng-model="vm.byZipcode">
      <option value="">Search by zipcode...</option>
      <option ng-repeat="sitter in vm.sitters | unique: 'zipcode'" ng-value="vm.zipcode">{{sitter.zipcode}}</option>
    </select>
    <button id="clear-filter" ng-click="vm.byZipcode = undefined" type="button">Clear Zipcode</button>


    <div data-ng-model="vm.byPrice" ng-repeat="sitter in vm.sitters" ng-value="sitter.price">
    </div>

    <div>
      <rzslider rz-slider-model="priceSlider" ng-model="vm.byPrice" ng-value="vm.price"></rzslider>
    </div>

    <input type="range" value="30" min="40" max="90" step="5" list="tickmarks" ng-model="vm.byPrice" ng-value="vm.price"/>
    <datalist id="tickmarks">
      <option value="0">
        <option value="10">
          <option value="20">
            <option value="30">
              <option value="40">
                <option value="50">
                  <option value="60">
                    <option value="70">
                      <option value="80">
                        <option value="90">
                          <option value="100">
                          </datalist>


                          <select ng-model="vm.byPrice">
                            <option value="">Search by Price...</option>
                            <option ng-repeat="sitter in vm.sitters | unique: 'price'" ng-value="vm.price">{{sitter.price}}</option>
                          </select>

                        </div>

                        <div class="profile_wrapper">
                          <div class="sitters_wrapper" data-ng-repeat="sitter in vm.sitters | filter: {name: vm.byName} | filter: {zipcode: vm.byZipcode} | filter: {price: vm.byPrice}">
                            <div class="img-thumbnail hover description">

                              <a data-ui-sref="PetSitterShow({id: sitter.id})"><img class="resize" data-ng-src="{{sitter.photo_url}}"/></a>

                              <h3 style="text-align: center;"><a style="color: green; text-decoration: none;"data-ui-sref="PetSitterShow({id: sitter.id})">{{sitter.name}}</a></h3>
                              <p style="text-align: center;"><span>${{sitter.price}}</span> per day</p>
                              <!-- <p> Location: {{sitter.zipcode}}</p> -->
                              <!-- <li>{{sitter.phone}}</li>
                              <li>{{sitter.email}}</li> -->

                              <div style="margin-left: 40px;">
                                <div style="float:left; margin-right: 10px;">
                                  <p><span>Pet Types:</span></p>
                                  <ul>
                                    <li ng-repeat="sitter1 in sitter.pet_type">{{sitter1}}</li>
                                  </ul>
                                </div>
                                <div style="float: left;">
                                  <p><span>Services:</span></p>
                                  <ul>
                                    <li ng-repeat="sitter2 in sitter.service">{{sitter2}}</li>
                                  </ul>
                                </div>
                              </div>


                            </div>
                          </div>
                        </div>
