
<div class="sitters_header" style="margin-bottom: 50px;">
  <div class="overlay">
    <h2 style="margin: 0; padding-top: 100px; padding-bottom: 100px; color: white; text-align: center;">Find Pet Sitters</h2>
  </div>
</div>

<div class="site_wrapper">
  <div class="filter_box">
    <input type="text" placeholder="Name" data-ng-model="vm.byName">
    <input type="text" placeholder="Zipcode" data-ng-model="vm.byZipcode">

    <select ng-model="vm.byName">
      <option ng-selected="vm.byName" ng-repeat="sitter in vm.sitters | unique: 'name'" ng-value="vm.name">{{sitter.name}}</option>
    </select>
    <select ng-model="vm.byZipcode">
      <option ng-selected="vm.byZipcode" ng-repeat="sitter in vm.sitters | unique: 'zipcode'" ng-value="vm.zipcode">{{sitter.zipcode}}</option>
    </select>
  </div>


  <div class="profile_wrapper">
    <div class="sitters_wrapper" data-ng-repeat="sitter in vm.sitters | filter: {name: vm.byName} | filter: {zipcode: vm.byZipcode}">
      <div class="img-thumbnail hover description">
        <a data-ui-sref="PetSitterShow({id: sitter.id})"><img class="resize"src="{{sitter.photo_url}}"/></a>
        <ul>
          <li><a data-ui-sref="PetSitterShow({id: sitter.id})">{{sitter.name}}</a></li>
          <li>{{sitter.phone}}</li>
          <li>{{sitter.email}}</li>
          <li>{{sitter.pet_type}}</li>
          <li>{{sitter.service}}</li>
          <li>{{sitter.zipcode}}</li>
          <li>${{sitter.price}}</li>
        </ul>

      </div>
    </div>
  </div>

