<h2>Edit your pet's information</h2>

<form>
  <input placeholder="Name" data-ng-model="vm.pet.name" />
  <input placeholder="Type of Pet" data-ng-model="vm.pet.pet_type" />
  <input placeholder="Photo URL" data-ng-model="vm.pet.photo_url" />
  <input placeholder="Home zipcode" data-ng-model="vm.pet.zipcode" />
  <input placeholder="Medical Needs" data-ng-model="vm.pet.medical_needs" />
  <input placeholder="Start Date" data-ng-model="vm.pet.start_date" />
  <input placeholder="End Date" data-ng-model="vm.pet.end_date" />

  <button type="button" data-ng-click="vm.update()">Edit</button>
  <button type="button" data-ng-click="vm.destroy()">Remove Pet</button>

</form>
