body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}
img.logo-img {
  width: 50%;
}
.site_wrapper {
  margin: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bg-image {
  background: url('https://oboitut.com/uploads/posts/oboitut.com_5814.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

a.navbar-brand {
  font-size: 18px;
}

.navbar-inverse {
  background-color: white;
  border-bottom: 2px solid;
  border-bottom-color: green;
}

.navbar-inverse .navbar-nav>li>a {
  color: green;

}

.navbar-inverse .navbar-nav>li>a:hover {
  color: green;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: green;
}

.navbar-inverse .navbar-brand:hover {
  color: green;
  font-weight: bold;
}

img.resize {
  object-fit: cover;
  width: 300px;
  height: 250px;
}

.hover:hover {
  background-color: grey;
}

h1 {
  font-size: 100px;
  color: white;
}

/*.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 50%;
}*/
.filter_box {
  text-align: center;
  margin-bottom: 40px;
}
.sitters_header {
  background: url('http://i68.tinypic.com/2eek09d.jpg') no-repeat center center;
  margin: 0;
  padding: 0;
}

.owners_header {
  background: url('https://newevolutiondesigns.com/images/freebies/cat-wallpaper-47.jpg') no-repeat center center;
  margin: 0;
  padding: 0;
}

.sitters_wrapper {
 margin: 10px;

}
.profile_wrapper {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-content: space-around;

}

.btn-default {
  color: green;
  border-color: white;
  font-weight: bold;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 310px;
}

