body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}
img.logo-img {
  width: 50%;
}
.site_wrapper {
  margin: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bg-image {
  background: url('https://oboitut.com/uploads/posts/oboitut.com_5814.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

a.navbar-brand {
  font-size: 18px;
}

.navbar-inverse {
  background-color: white;
  border-bottom: 2px solid;
  border-bottom-color: green;
}

.navbar-inverse .navbar-nav>li>a {
  color: green;

}

.navbar-inverse .navbar-nav>li>a:hover {
  color: green;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: green;
}

.navbar-inverse .navbar-brand:hover {
  color: green;
  font-weight: bold;
}

img.resize {
  object-fit: cover;
  width: 300px;
  height: 250px;
}

.hover:hover {
  background-color: grey;
}

h1 {
  font-size: 100px;
  color: white;
}

.filter_box {
  text-align: center;
  margin-bottom: 40px;
}
.sitters_header {
  background: url('http://i68.tinypic.com/2eek09d.jpg') no-repeat center center;
  margin: 0;
  padding: 0;
}

.owners_header {
  background: url('https://newevolutiondesigns.com/images/freebies/cat-wallpaper-47.jpg') no-repeat center center;
  margin: 0;
  padding: 0;
}

.sitters_wrapper {
 margin: 10px;

}
.profile_wrapper {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-content: space-around;

}

.btn-default {
  color: green;
  border-color: white;
  font-weight: bold;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 310px;
}

/****SITTER PROFILE STYLE****/
.sitter_profile_header {
  z-index: 0;
  height: 220px;
  background-color: rgba(0,128,0, 0.7);
  display: flex;
  justify-content: center;
}

.sitter_profile_img {
  z-index: 1;
  margin-top: 80px;
}

.profile-box {
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 150px;
  width: 100%;
  padding: 50px;
  justify-content: center;
}


/****CAROUSEL STYLE****/


/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  object-fit: cover;
  width: 450px;
  height: 200px
}
/* End carousel */
