body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bg-image {
  background: url('https://oboitut.com/uploads/posts/oboitut.com_5814.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

a.navbar-brand {
  font-size: 18px;
}

.navbar-inverse {
  background-color: white;
  border-bottom: 2px solid;
  border-bottom-color: green;
}

.navbar-inverse .navbar-nav>li>a {
  color: green;

}

.navbar-inverse .navbar-nav>li>a:hover {
  color: green;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: green;
}

.navbar-inverse .navbar-brand:hover {
  color: green;
  font-weight: bold;
}

img {
  object-fit: cover;
  width:280px;
  height:280px;
}

.hover:hover {
  background-color: grey;
}

h1 {
  font-size: 100px;
  color: white;
}

/*.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 50%;
}*/

.sitters_header {
  background: url('http://i68.tinypic.com/2eek09d.jpg') no-repeat center center;
  /*height: 330px;*/
  margin: 0;
  padding: 0;
}

.sitters_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  border: 1px solid grey;
}
.btn-default {
  color: green;
  border-color: white;
  font-weight: bold;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 310px;
}
