body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.bg-image {
  background: url('https://oboitut.com/uploads/posts/oboitut.com_5814.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}
.navbar-inverse {
  background-color: white;
  border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: red;
}

.navbar-inverse .navbar-brand {
  color: black;
}

.navbar-inverse .navbar-brand:hover {
  color: red;
}

img {
  width: 300px;
}

h1 {
  font-size: 100px;
  color: white;
}

/*.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 50%;
}*/

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 350px;
}
